@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300; 500;700&display=swap');

body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0DDDD; /* color of the scrollbar handle */
  border-radius: 4px; /* rounded corners of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
  border-radius: 4px; /* rounded corners of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #ddd; /* color of the scrollbar track on hover */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup{
  background-image: url(./Assets/Vector.png);
}

.tabBg{
  background: #000000 url(./Assets/bg1.png);
 background-position: center;
}
